DJANGO_SETTINGS_MODULE=config.settings.dev
SECRET_KEY=change-me-in-local-env
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=postgres://shona_api:shona_api@localhost:5432/shona_api
APP_VERSION=0.1.0
